<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <script src="../../../assets/vue.min.js"></script>
  
</head>

<body>
  <div id="app" class="container">
    <header class="homey-header">
      <h1 class="homey-title" data-i18n="select_regulator.title"></h1>
      <p class="homey-subtitle" data-i18n="select_regulator.subtitle"></p>
    </header>
    <form class="homey-form">
      <fieldset class="homey-form-fieldset">
        <legend class="homey-form-legend" data-i18n="select_regulator.checkbox_title"></legend>
        
        <div class="homey-form-group">
          <fieldset class="homey-form-radio-set">

            <label class="homey-form-radio" v-for="regulator in availableRegulators">
              <input class="homey-form-radio-input" type="radio" name="regulator" :value="regulator" v-model="selected"/>
              <span class="homey-form-radio-checkmark"></span>
              <span class="homey-form-radio-text" :data-i18n="'select_regulator.' + regulator"></span>
            </label>
        
          </fieldset>
        </div>
      </fieldset>
    </form>

    <div class="footer">
      <button @click="select" :disabled="error" class="homey-button-primary-full visible" data-i18n="select_regulator.save"></button>
    </div>
  </div>
  <style>
    .container {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    .footer {
      margin-top: auto;
    }
  </style>
  <script>

    Homey.setTitle('');

    new Vue({
      el: "#app",
      data: function () {
        return {
          availableRegulators: [
            'temperatureFloor',
            'temperatureRoom'
          ],
          selected: 'temperatureFloor',
          error: false
        }
      },
      methods: {
        select() {
          Homey.showLoadingOverlay();

          Homey.emit('select_regulator', this.selected)
            .then(device => {
              if (device) {
                Homey.createDevice(device)
                .then(Homey.done())
                .catch(function(err) {
                  this.error = true;
                  return Homey.alert(err.message);
                })
                .finally(Homey.hideLoadingOverlay());
              } else {
                console.log('select_regulator failed');
                this.error = true;
              }
          })
          .catch(function(err){
            this.error = true;
            return Homey.alert(err.message);
          });
        }
      }
    });
  </script>
</body>

</html>